body {
    background-color: #ffcc99;
}

h1 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

h2 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

.check-options {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
    font-size: large;
}

.explanation {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}

a:link {
    color: #0066ff;
}

a:visited {
    color: #0066ff;
}

.title-link {
    color: #000000;
    text-decoration: none;
    font-family: "Liberation-Sans", sans-serif;
}

footer {
    font-size: small;
}
