body {
    background-color: #99ccff;
}

h1 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

h2 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

.title-link {
    color: #000000;
    text-decoration: none;
}

.check-options {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
    font-size: large;
}

.explanation {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}

.links-list {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}
