body {
    background-color: #99ccff;
}

h1 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

h2 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
}

.check-options {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
    font-size: large;
}

.explanation {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}

a:link {
    color: #ffcc33;
}

a:visited {
    color: #996600;
}

.title-link {
    color: #996600;
    font-family: "Liberation Sans", sans-serif;
    text-decoration: none;
}

footer {
    font-size: small;
}
