<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <title>
            {{ the_title }}
        </title>
        <link rel="stylesheet" href="/static/dcc.css">
    </head>
    <body>
        <h1>
            <a href="/" class="title-link">onehpleft.com</a>
        </h1>
        <h2>
            {{ the_heading }}
        </h2>
        <form method="POST" action="/character_funnel" class="check-options">
            <p><input type="checkbox" name="suitability" checked /> Check suitability</p>
            <p><input type="checkbox" name="nohuman" /> No humans!</p>
            <p><input type="checkbox" name="nodwarf" /> No dwarves!</p>
            <p><input type="checkbox" name="noelf" /> No elves!</p>
            <p><input type="checkbox" name="nohalfling" /> No halflings!</p>
            <p><input type="submit" value="Let's roll!" /></p>
        </form>
        <div>
            <p>Explanation</p>
            <p class="explanation">The purpose of this website is to randomly generate 4 zero-level characters for use in the <a href="https://goodman-games.com/dungeon-crawl-classics-rpg/">Dungeon Crawl Classics</a> RPG from Goodman Games. You will be shown an image of the sheet and a link for downloading an 11x8.5 PDF of it. If you don't like the characters, feel free to use the back button to come back to this page and try again.</p>
            <p class="explanation">Standard procedure is to roll 3d6 for each attribute. If 'Check suitability' is checked, the app will reroll any characters that have a negative total attribute bonus. This idea is borrowed from the <a href="https://www.lotfp.com/RPG/">Lamentations of the Flame Princess</a> OSR game.</p>
            <p class="explanation">Standard procedure is to include 70% humans, 10% dwarves, 10% elves, 10% halflings/hobbits in the characters rolled. If you want to exclude any of these four 'races' from your results, you may by checking the appropriate box. You need to allow at least one of them though. If you check all the boxes to exclude all the races, the app will ignore all the checks and any of the four races will be allowed.</p>
        </div>

        <footer>
            <p>&#169;2021 by Eric Shumaker</p>
            <p>Dungeon Crawl Classics and DCC RPG are trademarks of <a href="https://goodman-games.com/">Goodman Games</a>.</p>
            <p><a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> is Chris McDowall's creation.</p>
        </footer>
        
    </body>
</html>
