<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <title>
            {{ the_title }}
        </title>
    </head>
    <body>
        <p><a href="{{ the_download }}">Download PDF</a> | <a href="{{ the_way_back }}">Back</a></p>
        <object type="image/svg+xml" data="{{ the_sheet }}">
        </object>
        <p><a href="{{ the_download }}">Download PDF</a> | <a href="{{ the_way_back }}">Back</a></p>
    </body>
</html>
