<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <title>One HP Left</title>
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>
        <h1>onehpleft.com</h1>
        <h2><a href='/dcc'>Dungeon Crawl Classics 0 Level Characters</a></h2>
        <h2><a href='/ito'>Into the Odd Characters</a></h2>
        <p>Hello! Welcome to onehpleft.com!</p>
        <p>This site features two webapps for producing character sheets for <a href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game">tabletop role playing games</a>. The games are <a href="https://goodman-games.com/dungeon-crawl-classics-rpg/">Dungeon Crawl Classics</a> by Joseph Goodman, published by Goodman Games, and <a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> by Chris McDowall, published by Lost Pages.</p>
        <ul>
            <li>
                <a href="https://goodman-games.com/dungeon-crawl-classics-rpg/">
                    Dungeon Crawl Classics at Goodman Games
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Dungeon_Crawl_Classics">
                    Dungeon Crawl Classics on Wikipedia
                </a>
            </li>
            <li>
                <a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">
                    Into the Odd on DriveThruRPG.com
                </a>
            </li>

        <footer>
            <p>&#169;2021 by Eric Shumaker</p>
            <p>Dungeon Crawl Classics and DCC RPG are trademarks of <a href="https://goodman-games.com/">Goodman Games</a>.</p>
            <p><a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> is Chris McDowall's creation.</p>
        </footer>

    </body>
</html>
