<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <title>
            {{ the_title }}
        </title>
        <link rel="stylesheet" href="/static/ito.css">
    </head>
    <body>
        <h1>
            <a href="/" class="title-link">onehpleft.com</a>
        </h1>
        <h2>
            {{ the_heading }}
        </h2>
        <form method="POST" action="/character_sheet" class="check-options">
            <p><input type="radio" name="Num" value="1" checked /><label for="One">One character</label><br />
            <input type="radio" name="Num" value="2"/><label for="Two">Two characters</label><br />
            <input type="radio" name="Num" value="4" /><label for="Four">Four characters</label></p>
            <input type="submit" value="Let's roll!" /></p>
        </form>
        <div>
            <p>Explanation</p>
            <p class="explanation">The purpose of this page is to randomly generate characters for the <a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> RPG by Chris McDowall.
            You will be shown an image of the sheet and a link for downloading an 8.5x11 PDF of it. If you don't like the rolls, feel free to use the back button to come back to this page and try again.</p>
            <p class="explanation">You can get one, two, or four characters on a sheet, by choosing one of the options
            above.</p>
        </div>
        
        <footer>
            <p>&#169;2021 by Eric Shumaker</p>
            <p>Dungeon Crawl Classics and DCC RPG are trademarks of <a href="https://goodman-games.com/">Goodman Games</a>.</p>
            <p><a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> is Chris McDowall's creation.</p>
        </footer>

    </body>
