<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>One HP Left</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">

        <!--<link rel="stylesheet" href="/static/base.css">-->
    </head>
    <body class="bg-dark text-light">
        <div class="container-fluid">

            <div id="title" class="text-center">
                <h1>onehpleft.com</h1>
            </div>

                <div id="explanation" class="text-justify">
                    <p>Hello! Welcome to onehpleft.com!</p>
                    <p>This site features two webapps for producing character sheets for <a href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game">tabletop role playing games</a>. The games are <a href="https://goodman-games.com/dungeon-crawl-classics-rpg/">Dungeon Crawl Classics</a> by Joseph Goodman, published by Goodman Games, and <a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> by Chris McDowall, published by Lost Pages.</p>
                </div>

                <div>
                    <h4><a href='/dcc'>Dungeon Crawl Classics 0 Level Characters</a></h4>
                </div>

                <div>
                    <h4><a href='/ito'>Into the Odd Characters</a></h4>
                </div>

                <div id="links">
                    <h3>Links</h3>
                    <ul>
                        <li>
                            <a href="https://goodman-games.com/dungeon-crawl-classics-rpg/">
                                Dungeon Crawl Classics at Goodman Games
                            </a>
                        </li>
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Dungeon_Crawl_Classics">
                                Dungeon Crawl Classics on Wikipedia
                            </a>
                        </li>
                        <li>
                            <a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">
                                Into the Odd on DriveThruRPG.com
                            </a>
                        </li>
                    </ul>
                </div>

                <footer id="copyright_stuff">
                    <p>&#169;2021 by Eric Shumaker</p>
                    <p>Dungeon Crawl Classics and DCC RPG are trademarks of <a href="https://goodman-games.com/">Goodman Games</a>.</p>
                    <p><a href="https://www.drivethrurpg.com/product/145536/Into-the-Odd">Into the Odd</a> is Chris McDowall's creation.</p>
                </footer>

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin = "anonymous">
        </script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity = "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin = "anonymous">
        </script>

        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity = "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin = "anonymous">
        </script>

    </body>
</html>
